body {
  background-color: #F7F4FE;
}

#board-game {
  text-align: center;
}

table, td {
  border: 2px solid black;
  margin: 0 auto;
}

.square {
  width: 180px;
  height: 180px;
  text-align: center;
  font-size: 80px;
  font-family: Verdana;
}
