body {
  background-color: #2FB0D8;
}

#title {
  font-size: 3em;
  color: #375ACB;
}

#message {
  margin-top: 1.5%;
  font-size: 1.2em;
  margin-bottom: 1.5%;
}

#board-game {
  text-align: center;
}

table, td {
  border: 2px solid #622FD8;
  margin: 0 auto;
}

.square {
  width: 180px;
  height: 180px;
  text-align: center;
  font-size: 80px;
  font-family: Verdana;
}
